.card {
    display: flex;
    max-width: 464px;
    gap: 20px;
    flex-direction: column;
  }
  
  .cards-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
    gap: 45px;
    padding: 68px 120px;
  }
  
  .card__description {
    display: flex;
    max-width: 464px;
  }
  
  
  
  .card-list__link {
    display: flex;
    height: 100%;
    transition: background-color 0.3s ease-in-out;
  }
  
  .card-list__link:hover {
    background-color: black;
  }
  
  @media (width <= 1440px) {
    .cards-list {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 40px;
    }
  
    .list-section__title {
      font-size: 26px;
    }
  
    .list-section__title::before {
      width: 55px;
      height: 42px;
    }
  }
  
  @media (width <= 1024px) {
    .cards-list {
      padding: 68px 40px;
      gap: 30px;
    }
  }
  
  @media (width <= 650px) {
    .cards-list {
      padding: 68px 14px;
    }
  
    .list-section__title {
      padding: 20px 14px 14px;
    }
  
    .list-section__title::before {
      left: 6px;
    }
  }